.mainContainerTransactionSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.operationNumberWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.transactionSearchTitle {
    text-align: center;
    margin-bottom: 10px;
}

.operationNumberContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--card-background-color);
    width: 100%;
    box-sizing: border-box;
}

.transactionSearchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.transactionSearchButton {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.transactionSearchButton:hover {
    background-color: var(--primary-hover-color);
}

/* Group the results and containers on the right */
.resultsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    gap: 20px;
}

/* Result Container */
.resultContainer {
    flex-basis: 60%;
    padding: 20px;
    background-color: var(--background-color);
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.resultContent {
    height: 150px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

/* Containers on the right */
.rightContainers {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Information from the Archive */
.fileInfoContainer,
.detailsContainer {
    padding: 20px;
    background-color: var(--background-color);
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.detailsContainer p {
    margin: 5px 0;
}
