/* General wrapper for logs section */
.logs-wrapper {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

/* Title styling for logs section, now outside of the logs container */
.logs-title {
  font-size: 28px;
  margin-bottom: 25px;
  color: #333;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Main container for logs section */
.logs-container-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 80px;
  /* Added padding to make space for the scroll button */
  transition: box-shadow 0.3s ease;
}

/* Hover effect for the logs container */
.logs-container-wrapper:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

/* Container for the logs output */
.logs-output {
  max-height: 700px;
  max-width: 1000px;
  padding: 20px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

/* Styling for each log entry */
.log-entry {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 12px;
  border-left: 6px solid;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  line-height: 1.4;
  color: #333;
}

/* Hover effect for log entries */
.log-entry:hover {
  background-color: #d3e0fc;
  transform: scale(1.02);
  border-left-color: #1565c0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Styling for error logs */
.log-error {
  border-left-color: #e57373;
  background-color: #ffebee;
}

/* Styling for warning logs */
.log-warning {
  border-left-color: #ffb74d;
  background-color: #fff3e0;
}

/* Styling for info logs */
.log-info {
  border-left-color: #6be486;
  background-color: #dbffe3;
}

/* Container for the "No logs available" message */
.no-logs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

/* Style for the warning icon */
.no-logs-icon {
  font-size: 36px;
  color: #ff9800;
  margin-bottom: 10px;
  animation: pulse 2s infinite;
}

/* Style for the "No logs available" text */
.no-logs-container p {
  font-size: 18px;
  color: #666;
  margin: 0;
}

/* Keyframe animation to create a pulsating effect for the warning icon */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.35);
  }

  100% {
    transform: scale(1);
  }
}

/* Button to scroll to the latest log */
.scroll-to-bottom-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  opacity: 0.6;
  z-index: 1000;
}

.scroll-to-bottom-btn:hover {
  background-color: #0056b3;
  opacity: 1
}

.scroll-to-bottom-btn.hidden {
  display: none;
}

/* Styling for the log update interval selector */
.log-interval-selector {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-interval-selector label {
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

/* Styling the select input */
.log-interval-selector select {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  appearance: none;
  cursor: pointer;
}

/* On hover and focus states */
.log-interval-selector select:hover,
.log-interval-selector select:focus {
  border-color: #007bff;
  background-color: #ffffff;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logs-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logs-controls input,
.logs-controls select,
.logs-controls button {
  margin: 0 10px;
}

/* Estilo para el input de fecha */
.logs-controls input[type="datetime-local"] {
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

/* Efecto en el hover y foco */
.logs-controls input[type="datetime-local"]:hover,
.logs-controls input[type="datetime-local"]:focus {
  border-color: #0056b3;
  outline: none;
}

/* Estilos para el botón de búsqueda */
.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:focus {
  outline: none;
}

/* Estilos para el ícono de búsqueda */
.search-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}

/* Efecto al pasar el mouse */
.search-button:hover .search-icon {
  transform: scale(1.2);
}

.bright {
  animation: shine 1.5s forwards, heartbeat 1s infinite;
}

/* Brillo */
@keyframes shine {
  0% {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.5);
  }

  50% {
    box-shadow: 0 0 25px rgba(0, 123, 255, 1);
    background-color: rgba(255, 255, 255, 1);
  }

  100% {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

/* Latido */
@keyframes heartbeat {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}
