/* Main container for logs section */
.logs-container-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f4f8;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 80px;
}

/* Title styling for the logs section */
.logs-container h2 {
  font-size: 28px;
  margin-bottom: 25px;
  color: #333;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Container for the logs output */
.logs-output {
  max-height: 700px;
  max-width: 1000px;
  padding: 20px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  display: block;
  /* Flexbox para centrar el contenido */
  justify-content: center;
  /* Alinear horizontalmente */
  align-items: center;
  /* Alinear verticalmente */
  position: relative;
  /* Para permitir el uso de posición absoluta en los hijos si es necesario */
}

/* Styling for each log entry */
.log-entry {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 12px;
  border-left: 6px solid;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  line-height: 1.4;
  color: #333;
}

/* Hover effect for log entries */
.log-entry:hover {
  background-color: #d3e0fc;
  transform: scale(1.02);
  border-left-color: #1565c0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Styling for error logs */
.log-error {
  border-left-color: #e57373;
  background-color: #ffebee;
}

/* Styling for warning logs */
.log-warning {
  border-left-color: #ffb74d;
  background-color: #fff3e0;
}

/* Styling for info logs */
.log-info {
  border-left-color: #6be486;
  background-color: #dbffe3;
}

/* Container for the "No logs available" message */
.no-logs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style for the warning icon */
.no-logs-icon {
  font-size: 36px;
  color: #ff9800;
  margin-bottom: 10px;
  animation: pulse 2s infinite;
}

/* Style for the "No logs available" text */
.no-logs-container p {
  font-size: 18px;
  color: #666;
  margin: 0;
}

/* Keyframe animation to create a pulsating effect for the warning icon */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/* Button to scroll to the latest log */
.scroll-to-bottom-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  opacity: 0.6;
  z-index: 1000;
}

.scroll-to-bottom-btn:hover {
  background-color: #0056b3;
  opacity: 1
}

.scroll-to-bottom-btn.hidden {
  display: none;
}
