/* General style for the cards */
.card {
    background-color: var(--card-background-color);
    border: var(--card-border);
    border-radius: var(--border-radius);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: var(--card-hover-shadow);
}

/* Title inside the cards */
.cardTitle {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: var(--detail-label-color);
    margin-bottom: 10px;
}
