/* General container for the entire file selector */
.fileSelectorContainer {
    position: relative;
    max-width: 40%;
    margin: 20px 0;
    padding: 20px;
    background-color: var(--card-background-color);
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .fileSelectorContainer {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1080px) {
    .fileSelectorContainer {
        max-width: 95%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Wrapper for search button and search input */
.searchWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    position: relative;
}

/* Style for the search button */
.searchButton {
    background-color: var(--primary-color);
    margin-top: 20px;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.05);
}

/* Animation suggestion for the search input placeholder */
@keyframes placeholderFade {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Search input next to search button */
.searchInput {
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    width: calc(100% - 60px);
    box-sizing: border-box;
    animation: placeholderFade 1s ease-in-out;
}

.searchInput:focus {
    border-color: var(--input-focus-border);
    outline: none;
    box-shadow: 0 0 6px rgba(10, 33, 160, 0.5);
}

.searchInput::placeholder {
    animation: placeholderFade 1.5s ease-in-out;
}

/* Wrapper for calendar button and selected date input */
.calendarDateWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

/* Style for the calendar button */
.calendarButton {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 16px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendarButton:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.05);
}

/* Input field for the selected date aligned next to calendar button */
.selectedDateInput {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: calc(100% - 60px);
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.selectedDateInput:focus {
    border-color: #ccc;
    outline: none;
    box-shadow: none;
}

/* Animation for the calendar appearance */
@keyframes calendarSlideIn {
    0% {
        opacity: 0;
        transform: translate(20px, -50%);
    }

    100% {
        opacity: 1;
        transform: translate(0, -50%);
    }
}

/* General Calendar container style */
.calendarContainer {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    box-shadow: var(--box-shadow);
    background-color: var(--card-background-color);
    border-radius: var(--border-radius);
    z-index: 10;
    transition: transform 0.3s ease;
    padding: 10px;
    left: calc(100% + 10px);
    animation: calendarSlideIn 0.8s ease-in-out;
}

/* Style for the dropdown (selector) */
.customDropdown {
    padding: 12px;
    font-size: 16px;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    background-color: var(--background-color);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    appearance: none;
    width: 100%;
    box-sizing: border-box;
}


.customDropdown:hover,
.customDropdown:focus {
    border-color: var(--input-focus-border);
    background-color: var(--card-background-color);
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Wrapper for the "no files" message */
.noFilesMessageWrapper {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

/* Message displayed when no files are found */
.noFilesMessage {
    color: #444;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

/* Center only the default option */
.defaultOption {
    text-align: center;
}

@keyframes pulseHighlight {
    0% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 0 25px rgba(0, 123, 255, 0.7);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}

.highlightCalendar {
    animation: pulseHighlight 1.5s ease-in-out infinite;
}

/* Estilo del botón desplegable */
.selectButton {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}

