/* General container for file content */
.fileContentContainer {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

/* Preformatted text style for the file content */
.fileContentPre {
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
    font-family: 'Courier New', monospace; /* Puede convertirse en variable específica si prefieres */
    font-size: 14px; /* Podría convertirse en una variable */
    color: var(--font-color);
    border: var(--card-border);
    overflow-x: auto;
    background-color: var(--file-background-color);
    max-height: 500px;
    overflow-y: auto;
}

/* Container style for actions (download button and loading message) */
.fileContentActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Download button with modern design */
.downloadButton {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px; /* Podría ser una variable */
    font-size: 16px; /* Podría ser una variable */
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.downloadButton:hover {
    background-color: var(--primary-hover-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Loading indicator style */
.loadingIndicator {
    font-size: var(--loading-font-size);
    color: var(--font-color-muted);
}
