/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
}

/* Main application structure */
.app {
    display: flex;
    height: 100vh;
    position: relative;
}

.main-content {
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    overflow-y: auto;
}

/* Ajustes cuando la barra lateral está abierta o cerrada */
.sidebar-open .main-content {
    margin-left: 200px;
}

.sidebar-closed .main-content {
    margin-left: 80px;
}


@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }

    .sidebar.closed~.main-content {
        margin-left: 0;
    }
}

/* Mensaje de carga */
.loading-message {
    color: #666;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

/* Styles for the main body content */
.body-content {
    padding: 20px;
    margin-top: 60px;
    min-height: calc(100vh - 60px);
    background-color: #f9f9f9;
    transition: margin-left 0.3s;
}