:root {
    --primary-color: #007bff;
    --primary-hover-color: #0056b3;
    --healthy-bg-color: #d4edda;
    --healthy-text-color: #155724;
    --unhealthy-bg-color: #f8d7da;
    --unhealthy-text-color: #721c24;
    --font-color: #333;
    --background-color: #f7f7f7;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    --border-radius: 8px;
    --font-size-title: 28px;
    --font-family: 'sans-serif';
    --card-background-color: #ffffff;
    --card-border: 1px solid #e0e0e0;
    --card-hover-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    --font-color-muted: #666;
    --file-background-color: #f4f4f4;
    --detail-label-color: #2b3da5;
    --loading-font-size: 12px;
    --input-focus-border: #0a21a0;

    /*sidebar*/
    --sidebar-background: #f4f4f4; /* Fondo del sidebar */
    --sidebar-toggle-background: #f9f9f9; /* Fondo del botón de toggle en el sidebar */
    --sidebar-border: #ddd; /* Borde del toggle en el sidebar */
    --sidebar-icon-hover-color: #0a21a0; /* Color del ícono del sidebar al hacer hover */
    --highlight-background: #e0f0ff; /* Fondo al hacer hover sobre un elemento del menú */
    --highlight-border-left: 4px solid var(--primary-color); /* Borde izquierdo en el hover del menú */
    --font-size-icon: 28px; /* Tamaño de los íconos del sidebar */
    --overlay-background: rgba(0, 0, 0, 0.5); /* Fondo para el overlay */
    --transition-speed: 0.3s ease; /* Duración de las transiciones */
}
