/* General Header styles */
.header {
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 200px);
    transition: width 0.3s ease, margin-left 0.3s ease;
    z-index: 100;
    border-bottom: 1px solid #ddd;
}

/* Setting the Header when the sidebar is open */
.sidebar-open {
    margin-left: 200px;
}

/* Header adjustment when the sidebar is closed toggle-button */
.sidebar-closed {
    margin-left: 80px;
    width: calc(100% - 80px);
}

/* Style for the user information section */
.user-info {
    display: flex;
    align-items: center;
}

/* Style for the user name */
.user-name {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

/* Logo container */
.logo-container {
    display: flex;
    align-items: center;
}

/* Logo style */
.company-logo {
    height: 55px;
}

/* User icon style */
.user-icon {
    font-size: 32px;
}

/* Responsive behavior for small screens */
@media (max-width: 768px) {
    .header {
        width: 100%;
        margin-left: 0;
        transition: width 0.3s ease, margin-left 0.3s ease;
    }

    .sidebar-open,
    .sidebar-closed {
        margin-left: 0;
        width: 100%;
    }
}
